.navbar {
  position: sticky;
  top: 0;
  display: flex;
  grid-gap: 2em;
}
.navbar > a {
  text-decoration: none;
  color: black;
}
.navbar > a:hover {
  color: aqua;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.activeModal {
  opacity: 1;
  visibility: visible;
}

.basketWrapper {
  background: rgb(243, 243, 247);
  width: 430px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -550px;
  transition: all 0.3s linear;
}

.activeModal .basketWrapper {
  right: 0;
}

.closeModal {
  position: absolute;
  top: 50%;
  left: -20%;
  width: 50px;
  height: 50px;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: all 0.6s linear;
}

.closeModal:hover {
  transform: translate(0, -50%) rotate(360deg);
}