.imageDowload {
  border: 2px dashed rgb(202, 202, 202);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputWrapper {
  margin: 15px 0;
  display: grid;
  width: 350px;
}
.inputWrapper input {
  padding: 5px;
}