<<<<<<< HEAD
.formWrapper{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    grid-gap: 15px;
}
.btn{
    cursor: pointer;
=======

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  grid-gap: 15px;
>>>>>>> d7a56aded6841d73b7ba1505428fbf680485c908
}